In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [64]:
train_df=pd.read_csv('./Data/normal_run_data.csv')
train_df.head()

      Timestamp    ID  DLC  D1  D2  D3  D4  D5  D6  D7  D8
0  1.479121e+09  0350    8  05  28  84  66  6d  00  00  a2
1  1.479121e+09  02c0    8  14  00  00  00  00  00  00  00
2  1.479121e+09  0430    8  00  00  00  00  00  00  00  00
3  1.479121e+09  04b1    8  00  00  00  00  00  00  00  00
4  1.479121e+09  01f1    8  00  00  00  00  00  00  00  00

In [65]:
def h2i(s):
    return int(s,16)

In [67]:
train_df['ID']=train_df['ID'].apply(int)

TypeError: 'int' object is not callable

In [62]:
train_df.head()

      Timestamp    ID  DLC  D1  D2  D3  D4  D5  D6  D7  D8
0  1.479121e+09   848    8  05  28  84  66  6d  00  00  a2
1  1.479121e+09   704    8  14  00  00  00  00  00  00  00
2  1.479121e+09  1072    8  00  00  00  00  00  00  00  00
3  1.479121e+09  1201    8  00  00  00  00  00  00  00  00
4  1.479121e+09   497    8  00  00  00  00  00  00  00  00

In [3]:
from keras.models import Sequential
from keras.layers import Dense, LSTM, Dropout

:

: